:root {
    --sedan_background: #E38826;
    --suvs_backgroundcolor: #006970;
    --luxury_backgroundcololor: #004241;
    --fontColor: #F2F2F2;
  }
  
  /* Reset body margin */
  body {
    margin: 0;
    padding: 0; /* Optional: reset default padding if necessary */
  }
  
  /*tablet*/
  @media (min-width: 360px) and (max-width: 768px) {
    #div1_Sedan {
      background-color: var(--sedan_background);
      display: flex;
      justify-content: center;
      text-align: center;
    }
  
    #div2_Suvs {
      background-color: var(--suvs_backgroundcolor);
      display: flex;
      justify-content: center;
      text-align: center;
    }
  
    #div3_luxury {
      background-color: var(--luxury_backgroundcololor);
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
  
  h1 {
    font-family: 'Big Shoulders Display';
    font-size: 30px;
  }
  
  /*mobile*/
  @media (max-width: 360px) {
    #div1_Sedan {
      background-color: var(--sedan_background);
      display: flex;
      justify-content: center;
      text-align: center;
    }
  
    #div2_Suvs {
      background-color: var(--suvs_backgroundcolor);
      display: flex;
      justify-content: center;
      text-align: center;
    }
  
    #div3_luxury {
      background-color: var(--luxury_backgroundcololor);
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
  
  #grid_container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0px;
    padding: 10px;
    height: 100vh;
    text-align: center;
    color: var(--fontColor);
  }
  
  #div1_Sedan {
    background-color: var(--sedan_background);
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  #div2_Suvs {
    background-color: var(--suvs_backgroundcolor);
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  #div3_luxury {
    background-color: var(--luxury_backgroundcololor);
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  h1 {
    font-family: 'Big Shoulders Display';
    font-size: 30px;
  }
  
  p {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    width: 233px;
  }
  
  button {
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    color: #F2F2F2;
    background-color: transparent;
    padding: 15px 30px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #div3_luxury button:hover {
    background: #FFFFFF;
    border-radius: 30px;
    color: var(--luxury_backgroundcololor);
  }
  
  #div2_Suvs button:hover {
    background: #FFFFFF;
    border-radius: 30px;
    color: var(--suvs_backgroundcolor);
  }
  
  #div1_Sedan button:hover {
    background: #FFFFFF;
    border-radius: 30px;
    color: var(--sedan_background);
  }
  .cen {
    display: flex;             
    flex-direction: column;     
    justify-content: center;  
    align-items: center;        
    text-align: center;       
    height: 100%;                
  }