body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2b1a2e;
    min-height: 100vh;
}

nav {
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    padding: 8px 16px;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

nav ul li input[type="text"] {
    padding: 6px;
    font-size: 17px;
    border: none;
    border-radius: 20px;
    width: 200px;
    text-align: center;
}

nav ul li button {
    padding: 6px 10px;
    margin-left: 4px;
    background-color: #ddd;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

nav ul li button:hover {
    background-color: #ccc;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px; /* Height of the navbar */
    flex-grow: 1;
    width: 100%;
}

#photo-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
}

.photo {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#pagination-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#pagination-container button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background-color: #6398c4;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

#pagination-container button:hover {
    background-color: #555;
}
.midofpage{
    margin-top: 15%;
}