.titofic {
    font-family: 'Big Shoulders Display', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.card {
    flex: 1 1 33.33%;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sedan {
    background: #E38826;
}

.suvs {
    background: #006970;
}

.luxury {
    background: #004241;
}

.card h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.card p {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

.learn-more-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.learn-more-button:hover {
    background-color: white;
    color: black;
}

p {
    width: 237px;
}

@media (min-width:360px) and (max-width:768px) {
    .container {
        display: grid;
    }
    .card {
        flex: 1 1 50%;
    }
    .card h2 {
        font-size: 1.8em;
    }
    .card p {
        font-size: 1.1em;
    }
    .learn-more-button {
        padding: 12px 24px;
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .container {
        flex-direction: column;
    }
    .card {
        flex: 1 1 100%;
    }
    .card h2 {
        font-size: 1.5em;
    }
    .card p {
        font-size: 1em;
    }
    .learn-more-button {
        padding: 10px 20px;
        font-size: 12px;
    }
    p {
        width: 100%;
    }
}
